<template>
  <div id="app">
    <transition name="fade">
      <login v-if="!loggedIn" @loginsuccess="loginSuccess()"></login>
      <mainpage v-else v-on:logout="logout()"></mainpage>
    </transition>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        loggedIn: false,
      }
    },

    methods: {
      // Set variable upon a successful login
      loginSuccess: function (username) {
        this.loggedIn = true;
      },

      // Clears local storage and does cleanup upon logout.
      logout: function () {
        this.loggedIn = false;
        localStorage.clear();

        var existingScriptObject = document.getElementById('mapscript');
        if (existingScriptObject) {
          existingScriptObject.parentElement.removeChild(existingScriptObject);
        }
      }
    },

    // After the app is initialized, load the userSettings object.
    // If the user has indicated they want to be remembered, log in automatically.
    created () {
      var userSettings = localStorage.getObject('userSettings');
      if (userSettings.remember == true && userSettings.token) {
        this.loginSuccess(userSettings.username);
      };
    }
  }
</script>

<style lang="scss">
@import 'src/global.scss';

  html, body, #app {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
  }

  #header {
    height: 74px;
    background: #fff;
    border-bottom: 1px solid $border-color;
    z-index: 5;
    display: flex;
    flex-flow: row !important;
    align-items: center;
  }

  #header .logo {
    height: 34px;
    margin-left: 1rem;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s ease-in-out;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
</style>
