// UIKit default border color
$border-color: #e5e5e5;

// Color definitions
$white: #fff;
$primary: #1cc31c;
$primary-hover: #45CD45;
$primary-active: #17A017;

// UI background definitions (in descending order of darkness)
$ui-background-1: $white;
$ui-background-2: #f5f5f5;
$ui-background-3: #efefef;

// Nav variables
$nav-height: 85px;
$nav-width: 100px;
$nav-hover-color: #818181;
$nav-selected-color: #757575;

// Page variables
$page-width: 400px;

// Loader class
.loader {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  div {
    margin: 1rem;
  }
}