<template>
  <div class="nav-item" :class="{ selected: selected }"  @click="raiseEvent">
    <!--Main icon and text-->
    <div class="content main">
      <span :uk-icon="'ratio: 2; icon: ' + mainicon" class="nav-icon"></span>
      <span class="text-main uk-text-truncate" v-if="maintextvalue">
        {{ maintextvalue }}
      </span>
    </div>
    <!--Hover icon and text-->
    <div class="content hover" v-if="hover">
      <span :uk-icon="'ratio: 2; icon: ' + hovericon" class="nav-icon"></span>
      <span class="text-hover">
        {{ hovertext }}
      </span>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        maintextvalue: '',
        selectedStyle: '',
        hover: false
      }
    },
    props: ['mainicon', 'hovericon', 'hovertext', 'maintext', 'eventName', 'destpage', 'selected'],

    methods: {
      // Tells MainPage that we want to navigate to a different side panel page
      raiseEvent: function () {
        if (!this.eventName) return;

        this.$emit(this.eventName, this.destpage);
      }
    },

    // Need to set some display variables based on the passed in properties.
    mounted () {
      if (this.maintext && this.maintext == 'username') {
        var userSettings = localStorage.getObject('userSettings');
        this.maintextvalue = userSettings.username;
      } else {
        this.maintextvalue = this.maintext;
      }

      if (this.hovericon && this.hovertext) {
        this.hover = true;
      }

      if (!this.maintext) {
        this.maintextvalue = this.destpage;
      }
    }
  }
</script>

<style lang="scss" scoped>
@import 'src/global.scss';

  @mixin text {
    font-size: 13px;
    position: absolute;
    bottom: 12px;
    left: 4px;
    right: 4px;
  }

  @mixin icon {
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
  }

  .nav-item {
    height: $nav-height;
    width: $nav-width;
    flex: 0 1 auto;
    position: relative;
    text-align: center;
    color: #a0a0a0;
    cursor: pointer;
  }

  .nav-item.selected {
    color: $nav-selected-color;
    span {
      font-style: bold;
      font-weight: 700;
    }
  }

  .nav-item.selected:after {
      content:"";
      position: absolute;
      top: 8px;
      bottom: 8px;
      left: 0px;
      right: -1px;
      border-right: 2px solid $nav-selected-color;
      z-index: -1;
  }

  .content .nav-icon {
    @include icon;
  }

  .text-main {
    @include text;   
  }

  .text-hover {
    @include text;
  }

  div .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: $nav-height;
    width: $nav-width;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

  }

  div .content.hover {
    z-index: 4;
    opacity: 0;

  }

  div .content.main {
    z-index: 5;
    opacity: 1;
  }

  .nav-item:hover:not(.selected) .content:only-child  {
    opacity: 1 !important;
    color: $nav-hover-color;
    background: $ui-background-3;
  }

  .nav-item:hover:not(.selected) .content:first-child {
    opacity: 0;
  }

  .nav-item:hover:not(.selected) .content:last-child {
    opacity: 1 !important;
    color: $nav-hover-color;
    background:  $ui-background-3;
  }

  .nav-item .bottom {
    align-self: flex-end;
  }

</style>
