<template>
  <div id="home">
    <h3 class="uk-heading-divider uk-margin-small">Welcome to PathWatch!</h3>
    <p>PathWatch is an application suite designed to make it easier for people to report issues on paths and trails to the proper authorities.</p>
    <p>This web application is designed for members of government agencies and departments to review and manage reports submitted by users regarding various paths and trails. This functionality is currently limited to the state of Colorado.</p>
    <h4 class="uk-heading-bullet uk-margin-small">Getting started</h4>
    <p>Using PathWatch is easy. Select a report from either the Reports panel, which you can access to the left, or by clicking directly on a marker on the map to the right. This will automatically open the Report Detail panel where you can review additional information about the report, change the status of the report, and post comments about the report to other administrative users.</p>
    <h5 class="uk-margin-small">That's it!</h5>
    <p>If you'd like to sign out, simply click on the user icon with your username in the bottom left corner.</p>
    <p class="uk-text-muted">Copyright &copy; 2017 PathWatch, all rights reserved.</p>
  </div>
</template>

<script>
</script>

<style lang="scss" scoped>
  #home {
    height: 100%;
    display: flex;
    flex-flow: column;

    p:last-child {
      position: relative;
      margin-bottom: 1rem;
      margin-top: auto;
    }
  }

  
</style>
