<template>
  <div id="login">
    <div class="uk-card uk-card-default uk-width-large uk-card-body">
      <img class="uk-align-center logo" src="../../static/images/logo.svg"></img>
      <h2 class="uk-card-title uk-heading-line uk-text-center">{{ mode == 'register' ? 'Register' : 'Sign in' }}</h2>
      <form v-if="mode == 'login'" id="login-form" v-on:submit.prevent="submitForm()">
        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Username" autocomplete="username" v-model="credentials.username" name="username" required></input>
        </div>
        <div class="uk-margin">
          <input class="uk-input" type="password" placeholder="Password" autocomplete="current-password" v-model="credentials.password" name="password" required></input>
        </div>
        <div class="uk-margin uk-margin-small-bottom">
          <button class="uk-button uk-button-primary uk-width-1-1" type="submit" form="login-form">Sign in</button>
        </div>
        <div class="uk-margin-small">
          <input class="uk-checkbox" type="checkbox" v-model="credentials.remember"><span class="uk-text-small"> Remember me</span></input>
        </div>
        <div class="uk-margin uk-text-small uk-text-center uk-text-muted uk-margin-small-top">
          <a class="uk-link-muted" @click="toggleMode">Don't have an account? Register<span uk-icon="icon: chevron-right"></span></a>
        </div>
      </form>
      <form v-else id="register-form" v-on:submit.prevent="submitForm()">
        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Username" autocomplete="username" v-model="credentials.username" name="username" required></input>
        </div>
        <div class="uk-margin">
          <input class="uk-input" type="email" placeholder="Email address" autocomplete="email" v-model="credentials.email" name="email" required></input>
        </div>
        <div class="uk-margin uk-margin-small-bottom">
          <input class="uk-input" type="password" placeholder="Password" autocomplete="current-password" v-model="credentials.password" name="password" required></input>
        </div>
        <div class="uk-text-small uk-text-muted">Passwords must be at least 8 characters long.</div>
        <div class="uk-margin">
          <input class="uk-input" type="password" placeholder="Confirm password" autocomplete="current-password" v-model="credentials.confirmPassword" name="confirmPassword" required></input>
        </div>
        <div class="uk-margin">
          <select class="uk-select" v-model="credentials.managementId">
            <option value="">Select Department/Agency</option>
            <option v-for="(name, id) in parks" :value="id">{{ name }}</option>
          </select>
        </div>
        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Registration Passkey" v-model="credentials.passkey" name="passkey" required></input>
        </div>
        <div class="uk-margin">
          <button class="uk-button uk-button-primary uk-width-1-1" type="submit" form="register-form">Register</button>
        </div>
        <div class="uk-margin uk-text-small uk-text-center uk-text-muted">
          <a class="uk-link-muted" @click="toggleMode">Already registered? Sign in<span uk-icon="icon: chevron-right"></span></a>
        </div>
      </form>
    </div>
  </div>
</template>


<script>
  import axios from 'axios';

  export default {
    data () {
      return {
          mode: 'login',
          credentials: {
            username: '',
            password: '',
            confirmPassword: '',
            email: '',
            managementId: '',
            passkey: '',
            remember: false
          },

          modeChanging: false,

          parks: {}
      }
    },

    params: ['loggedIn'],

    methods: {
      submitForm: function () {
        // Validate clientside

        var self = this;
        $('.message').fadeOut('fast', () => $('.ui .modal').modal('refresh'));
        var endpoint = (self.mode == 'login') ? 'login' : 'register';

        if (endpoint == 'register') {
          if (self.credentials.password != self.credentials.confirmPassword) {
            UIkit.notification({
                message: 'Passwords do not match.',
                timeout: 5000
            });
            return;
          } else if (self.credentials.username.length > 14) {
            UIkit.notification({
                message: 'Username must be less than 14 characters long.',
                timeout: 5000
            });
            return;
          }
        };

        axios.post(API_URL + endpoint, self.credentials)
        .then((response) => {
          if (response.data.success) {

            // Build the userSettings object to be stored in localStorage
            var userSettingsObject = {};
            userSettingsObject.token = response.data.token;
            userSettingsObject.username = self.credentials.username;
            userSettingsObject.remember = self.credentials.remember;

            // Store the userSettingsObject
            localStorage.setObject('userSettings', userSettingsObject);

            // Emit a loginsuccess event to the App to set display varaibles
            self.$emit('loginsuccess', self.credentials.username);

            // Reset the form
            self.credentials.username = self.credentials.password = self.credentials.confirmPassword = self.credentials.email = '';
            self.mode = 'login';
          } else {
            UIkit.notification({
              message: response.data.message,
              timeout: 5000
          });
          }
        })
      },

      // Gets the list of parks for registration
      getParks: function () {
        var self = this;
        axios.get(API_URL + 'register/getParks')
        .then((response) => {
          self.parks = response.data;
        })
      },

      // Switches the UI between the login and register forms
      toggleMode: function () {
        if (this.mode == 'login') this.mode = 'register';
        else this.mode = 'login';

        this.modeChanging = true;
      }
    },

    mounted () {
      this.getParks();
    },

    updated () {
      var self = this;

      this.modeChanging = false;
    }
  }
</script>

<style lang="scss" scoped>
  @import 'src/global.scss';

  #login {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: $ui-background-3;
  }

  .logo {
    margin-bottom: 0;
  }

  h2 {
    margin-top: 1rem;
  }

  form {
    div:last-child {
      margin-bottom: 0px;
    }
  }

  a {
    span.uk-icon {
      position: relative;
      top: -1px;
    }
  }

  button, button:visited {
    background: $primary;
  }

  button:hover {
    background: $primary-hover;
  }

  button:active {
    background: $primary-active;
  }
</style>
