<template>
  <div id="mainpage">
    <div id="page-content">
      <div id="navigation" :class="{ 'nav-shadow': !controlsVisible }">
        <a class="uk-icon-button nav-state-button open" uk-icon="icon: chevron-right" v-show="!controlsVisible" @click="toggleControls"></a>
        <nav-item :mainicon="'home'" :eventName="'goto'" @goto="openNavigationPage($event)"
                  :destpage="'Home'" :selected="navpage == 'Home'"></nav-item>
        <nav-item :mainicon="'location'" :eventName="'goto'" @goto="openNavigationPage($event)"
                  :destpage="'Reports'" :selected="navpage == 'Reports'"></nav-item>
        <nav-item :mainicon="'file-edit'" :eventName="'goto'" @goto="openNavigationPage($event)"
                  :destpage="'Report Detail'" :selected="navpage == 'Report Detail'"></nav-item>
        <nav-item :isActive="true" class="bottom"
                  :mainicon="'user'" :maintext="'username'"
                  :hovericon="'sign-out'" :hovertext="'Sign out'"
                  :eventName="'signOut'" @signOut="logOut()"> </nav-item>
      </div>
      <div id="content">
        <transition name="slide-fade" @after-leave="afterTransition" @after-enter="afterTransition">
          <div id="navigation-page" v-show="controlsVisible" :class="{ 'nav-shadow': controlsVisible }">
            <a class="uk-icon-button nav-state-button close" uk-icon="icon: chevron-left" v-show="controlsVisible" @click="toggleControls" ></a>
            <div id="site-header">
              <img src="../../static/images/logo.svg" ></img>
              <h3 class="uk-text-center"><span> {{ navpage }}</span></h3>
            </div>
            <div id="navigation-content">
              <home v-if="navpage == 'Home'"></home>
              <reportlist v-if="navpage == 'Reports'" :reports="reports" @openReportDetail="openReportDetail($event)" @refreshReports="getReports" @closedChanged="setShowClosed" :showClosed="showClosed" :loading="loading"></reportlist>
              <reportdetail v-if="navpage == 'Report Detail'" :reportID="selectedReport == null ? null : selectedReport.Report_ID"></reportdetail>
            </div>
          </div>
        </transition>
        <div id="map-area">
          <div id="map">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    data () {
      return {
        mapObject: {},
        reports: {},
        markers: [],
        selectedReport: null,
        clickedReport: null,
        navpage: 'Home',
        loading: false,
        controlsVisible: true,
        layoutChanging: false,
        showClosed: false
      }
    },

    methods: {
      // Tells the App that the user wants to log out.
      logOut: function () {
        this.$emit('logout');
      },

      // Gets the list of reports and sets the reports data object
      getReports: function () {
        var self = this;

        // Display the loading circle
        self.loading = true;

        for (var i = 0; i < self.markers.length; i++) {
          self.markers[i].setMap(null);
        }

        self.markers = [];
        
        // Retrieve user settings
        var userSettings = localStorage.getObject('userSettings');

        axios.get(`${API_URL}` + 'reports?filter=' + !self.showClosed, { headers: { 'Authorization': 'Bearer ' + userSettings.token } })
          .then((response) => {
            self.reports = response.data;

            // Place the markers on the Google Maps element
            for (var i = 0; i < self.reports.length; i++) {
              var marker = new google.maps.Marker({
                position: { lat: self.reports[i].Latitude, lng: self.reports[i].Longitude },
                map: self.mapObject,
                title: self.reports[i].Problem_description,
                reportID: self.reports[i].Report_ID
              });

              self.markers.push(marker);

              // When a marker is clicked, open the marker's associated report in the report editor
              marker.addListener('click', function () {
                self.openReportDetail(this.reportID);
              });

              self.loading = false;
            }
          })
      },

      // Sets whether or not the getReports() method should retrieve closed reports from the API
      setShowClosed: function (value) {
        this.showClosed = value;
      },

      // Because there are transitions in the application, we have to do things in a certain order.
      // In this case, we want to keep the map center the same before and after the side panel is expanded.
      afterTransition: function () {
        google.maps.event.trigger(this.mapObject, 'resize');
        this.mapObject.setCenter(this.mapcenter);

        if (!this.clickedReport || !this.selectedReport) return;

        // If the  side panel transition must happen after a user selects a report (i.e. it was closed), we must wait until it's complete to pan the map.
        if (this.clickedReport.Report_ID != this.selectedReport.Report_ID) {
          this.selectedReport = this.clickedReport;
          this.clickedReport = null;

          this.mapObject.panTo(new google.maps.LatLng(this.selectedReport.Latitude, this.selectedReport.Longitude));
        }
      },

      // Loads the requested page in the side panel and opens the side panel if it is closed.
      openNavigationPage: function (destpage, callback) {
        var self = this;

        self.navpage = destpage;

        if (!this.controlsVisible) {
          this.toggleControls();
        }
      },

      // Sets the variables that control the visibility of the side panel.
      toggleControls: function () {
        this.controlsVisible = !this.controlsVisible;
        
        this.layoutChanging = true;
        this.mapcenter = this.mapObject.getCenter();
      },

      // Selects the report with the matching reportId and begins the process of opening the report detail page.
      openReportDetail: function (reportId) {
        try {
          var self = this;
          self.clickedReport = null;

          var report = null;
          for (var i = 0; i < self.reports.length; i++) {
            if (!report && self.reports[i].Report_ID === reportId) report = self.reports[i];
          }

          // If the report is already open, we don't have to do some extra work to pan.
          if (self.controlsVisible) {
            self.mapObject.panTo(new google.maps.LatLng(report.Latitude, report.Longitude));
            self.selectedReport = report;
          } else {
            self.clickedReport = report;
          }

          // Finally, signal that we want to display the actual Report Detail page.
          self.openNavigationPage('Report Detail');

        } catch (e) {
          console.log(e);
        }
      }
    },

    mounted () {
      var self = this;

      // Kill the child script object so the map can safely hot reload w/ Webpack
      var existingScriptObject = document.getElementById('mapscript');
      if (!existingScriptObject) { 
        var script = document.createElement('script');

        script.id = 'mapscript';

        script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDqL1ud90Sz5ZrvjjXm5vLa3OEQ2EoXaJ0&callback=initMap';

        document.body.appendChild(script);

        // Map initialization function
        window.initMap = function () {
          self.mapObject = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 39.7392, lng: -104.9903 },
            zoom: 12
          });

          self.getReports();
        };
      }
    }
  }
</script>

<style lang="scss" scoped>
@import 'src/global.scss';

  #mainpage {
    display: flex;
    flex-flow: row;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  #navigation {
    display: flex;
    flex-flow: column;
    flex: 0 1 auto;
    width: $nav-width;
    background: $ui-background-1;
    order: 1;
    z-index: 4;
    border-right: 1px solid $border-color;
  }

  #page-content {
    display: flex;
    flex-flow: row !important;
    flex: 1 0 auto;
    order: 2;
  }

  #content {
    display: flex;
    flex: 1 1 auto;
    order: 2;
    min-height: 0;
  }

  .nav-state-button {
    z-index: 6;
    border: 1px solid $border-color;
    background: $white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.18);
    position: absolute;
  }

  .nav-state-button.close {
    right: -18px;
    top: $nav-height - 18px;

  }

  .nav-state-button.open {
    left: $nav-width - 18px;
    top: $nav-height - 18px;
  }

  #nav-collapse-button:hover {
      background: $ui-background-3;
    }

  #navigation-page {
    background: $ui-background-1;
    width: $page-width;
    height: 100vh;
    z-index: 3;
    border-right: 1px solid $border-color;
    order: 2;
    position: relative;
    display: flex;
    flex-flow: column;
  }

  .nav-shadow {
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
  }

  #site-header {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: $nav-height;
    border-bottom: 1px solid $border-color;
    img {
      height: 26px;
      margin-top: 14px;
    }

    h3 {
      margin: 0px 0px 8px 0px;
    }
  }

  #navigation-content {
    flex: 1;
    overflow: auto;
    min-height: 0;
    background: $ui-background-2;
    padding: 1rem;
  }

  #close-nav-page-button {
    cursor: pointer;
  }

  #close-nav-page-button:hover {
    opacity: 0.6;
  }

  #map-area {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    position: relative;
    order: 3;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }

  .nav-item.bottom {
    margin-top: auto;
    margin-bottom: 0;
    
    ~ .bottom {
      margin-top: 0px;
    }
  }

  .slide-fade-enter-active {
    transition: all .1s ease-in-out;
  }
  .slide-fade-leave-active {
    transition: all .1s ease-in-out;
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(-100%);
  }
</style>
