<template>
  <div id="report-detail">
    <div v-if="loading" class="loader">
      <div uk-spinner></div>
      <p>Loading report, please wait...</p>
    </div>
    <div v-else-if="noReportSelected">
      <h3 class="uk-heading-divider">No report selected.</h3>
      <p>Please select a report from the map or the Reports list to edit a report's details.</p>
    </div>
    <div v-else>
      <h3 class="uk-heading-divider">{{ report.Problem_description }}</h3>
      <form class="uk-grid-small" uk-grid>
        <div class="uk-width-1-3">
          Submitted by:
        </div>
        <div class="uk-width-2-3">
          {{ report.Username }}
        </div>

        <div class="uk-width-1-3">
          Submitted on:
        </div>
        <div class="uk-width-2-3">
          {{ report.RDate | date }}
        </div>

        <div class="uk-width-1-3">
          Report status:
        </div>
        <div class="uk-width-2-3">
          <div uk-form-custom="target: > * > span:last">
            <select :value="report.Status" @input="changeReportStatus($event.target.value)">
              <option value="0">Submitted</option>
              <option value="1">In Progress</option>
              <option value="2">Closed</option>
            </select>
            <span class="uk-link">
              <span uk-icon="icon: pencil"></span>
              <span></span>
            </span>
          </div>
        </div>

        <div class="uk-width-1-1">
          <button type="button" class="uk-button uk-button-default uk-width-1-1" :disabled="isDirty == false" @click="saveReport">Save report</button>
        </div>
      </form>
      <h4 class="uk-heading-divider">Internal report comments</h4>
        <div v-if="reportHasComments">
          <article v-for="comment in comments" class="uk-comment uk-margin-small-top uk-margin-small-bottom">
            <header class="uk-comment-header uk-grid-medium uk-flex-middle uk-margin-remove-bottom" uk-grid>
                <div class="uk-width-expand">
                    <h4 class="uk-comment-title uk-margin-remove">
                      {{ comment.Username }} 
                    </h4>
                </div>
                <div class="uk-width-auto">
                  <h6 class="uk-margin-small-left uk-text-muted uk-text-right uk-width-auto">{{ comment.CDate | dateago }}</h6>
                </div>
            </header>
            <div class="uk-comment-body uk-text-small">
                <p>{{ comment.Comment }}</p>
            </div>
        </article>
      </div>
      <div v-else>
        <h5 class="uk-text-muted">No comments.</h5>
      </div>
      <textarea class="uk-textarea uk-width-1-1" v-model="workingComment"></textarea>
      <button type="button" class="uk-button uk-button-primary uk-margin uk-width-1-1" :disabled="addCommentDisabled" @click="addComment">Add comment</button>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import dateFormat from 'dateformat';

  export default {
    data () {
      return {
        loading: false,
        report: null,
        comments: [],
        currentReportID: -1,
        originalStatus: -1,
        isDirty: true,

        workingComment: ''
      }
    },

    props: ['reportID'],

    filters: {
      date: function (value) {
        return dateFormat(value, 'm/d/yyyy h:MM TT');
      }
    },

    methods: {
      // Gets all of the report information from the API
      getReport: function () {
        // Display the loading circle
        this.loading = true;
        this.report = null;
        this.workingComment = '';
        this.comments = [];
        var self = this;

        // Retrieve user settings
        var userSettings = localStorage.getObject('userSettings');

        axios.get(API_URL + 'reports/' + this.reportID, { headers: { 'Authorization': 'Bearer ' + userSettings.token } })
          .then((response) => {
            self.report = response.data;

            // Load the report's comments if any
            self.getReportComments();

            self.loading = false;
          });
      },

      // Gets the internal comments on the report.
      // (internal = PathWatch Administrator)
      getReportComments: function () {
        // Display loading circle
        this.loading = true;

        var self = this;

        // Retrieve user settings
        var userSettings = localStorage.getObject('userSettings');
        axios.get(API_URL + 'reports/' + this.reportID + '/comments', { headers: { 'Authorization': 'Bearer ' + userSettings.token } })
          .then((response) => {
            self.comments = response.data;
            self.loading = false;
          });
      },

      // Saves the changes to the report to the DB
      saveReport: function () {
        var self = this;
        // Retrieve user settings
        var userSettings = localStorage.getObject('userSettings');
        axios.put(API_URL + 'reports/' + this.reportID,  { status: self.report.Status }, { headers: { 'Authorization': 'Bearer ' + userSettings.token } })
          .then((response) => {
            var responseObject = response.data;
            if (responseObject.success) {
              self.originalStatus = self.report.Status;
              self.isDirty = false;
              UIkit.notification({
                message: responseObject.message,
                timeout: 5000
              });
            }
          });
      },

      // Saves the new comment to the DB
      addComment: function () {
        var self = this;
        // Retrieve user settings
        var userSettings = localStorage.getObject('userSettings');
        axios.post(API_URL + 'reports/' + this.reportID + '/comments', { comment: self.workingComment }, { headers: { 'Authorization': 'Bearer ' + userSettings.token } })
          .then((response) => {
            self.getReport();
            UIkit.notification({
                message: response.data.message,
                timeout: 5000
              });
          });
      },

      // Since the report status is the only editable item on the report itself, we should keep track of the changed status of the object as we're modifying it. This can help reduce calls to the API that effectively do not mutate any data.
      changeReportStatus: function (newValue) {
        if (newValue != this.originalStatus) {
          this.isDirty = true;
        } else {
          this.isDirty = false;
        }

        this.report.Status = newValue;
      }
    },

    computed: {
      noReportSelected: function () {
        return this.reportID == null;
      },

      reportHasComments: function () {
        return this.comments.length != 0;
      },

      addCommentDisabled: function () {
        if (this.workingComment == null || this.workingComment.length == 0)
          return true;

        return false;
      }
    },

    created () {
      this.getReport();
      this.isDirty = false;
    },

    beforeUpdate () {
      // Reset the report variables if the report changes
      if (this.report && this.currentReportID !== this.report.Report_ID) {
        this.currentReportID = this.report.Report_ID;
        this.originalStatus = this.report.Status;
        this.isDirty = false;
      }

      // Update the report if the reportID parameter changes
      if (this.report && this.report.Report_ID != this.reportID) {
        this.getReport();
      }
    }
  }
</script>

<style lang="scss" scoped>
@import 'src/global.scss';

#report-detail {
  width: 100%;
  height: 100%;
  display: flex;
  visibility: inherit !important;
}

#report-detail > div {
  width: 100%;
  height: 100%;
}
</style>
