<template>
  <div id="report-list">
    <div class="uk-card uk-card-default uk-card-body uk-card-small reports-info">
      <span> {{ reports.length }} reports </span>
      <div class="uk-float-right">
        <a class="uk-icon-link" uk-icon="icon: refresh" @click="refreshReports" :disabled="loading"></a>
      </div>
      <div class="uk-width-1-1 uk-margin-small-top">
        <label><input class="uk-checkbox" type="checkbox" v-model="showClosedLocal" @change="notifyClosedChanged"> Show closed reports</input></label>
      </div>
    </div>
    
    <div v-if="loading" class="loader">
      <div uk-spinner></div>
      <p>Loading reports, please wait...</p>
    </div>
    <div v-else>
      <sidereport v-for="(report, index) in reports"
        :report="report"
        :index="index + 1"
        :key="report.Report_ID"
        v-on:openReportDetail="openReportDetail($event)">
      </sidereport>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        showClosedLocal: false
      }
    },

    created () {
      this.showClosedLocal = this.showClosed;
    },

    props: ['reports', 'loading', 'showClosed'],

    // All the following methods do is tell the app that we want to open a report.
    methods: {
      openReportDetail: function (reportId) {
        this.$emit('openReportDetail', reportId);
      },

      refreshReports: function () {
        if (this.loading) return;
        
        this.$emit('refreshReports');
      },

      // Except this one, this just synchronizes the closedLocal variable in this component with the boolean in MainPage that changes the filter query string.
      notifyClosedChanged: function () {
        this.$emit('closedChanged', this.showClosedLocal);
      }
    }
  }
</script>

<style lang="scss" scoped>
@import 'src/global.scss';

#report-list {
  width: 100%;
  height: 100%;
  visibility: inherit !important;
}

.reports-info {
  margin-bottom: 1rem;
}

.uk-icon {
  position: relative;
  top: -2px;
}

</style>
