<template>
  <div class="uk-card uk-card-default uk-card-body uk-card-small side-report">
      <a @click="openReportDetail()" class="uk-link-muted">
        <h5 class="uk-heading uk-margin-small-bottom">{{ report.Problem_description }}</h5>
      </a>
      <div uk-grid class="uk-child-width-1-2">
        <div>
          <p class="uk-text-muted uk-text-small uk-text-left uk-margin-small-top"> <span uk-icon="icon: info" class="uk-margin-small-right"></span> {{ report.Status | rstatus }}</p>
        </div>
        <div>
          <p class="uk-text-muted uk-text-small uk-text-right uk-margin-small-top"> <span uk-icon="icon: clock" class="uk-margin-small-right"></span>{{ report.RDate | dateago }}</p>
        </div>
      </div>   
  </div>
</template>

<script>
  export default {
    props: ['index', 'report'],

    methods: {
      openReportDetail: function () {
        var self = this;
        this.$emit('openReportDetail', self.report.Report_ID);
      }
    }
  }
</script>

<style scoped>
  .side-report {
    margin: 1rem 0rem;
  }

  .side-report:first-child {
    margin-top: 0.5rem;
  }
</style>
